
a{
  
  text-decoration:none;
  font-size:18px;
  
}

tr{
  
  border-style:solid;
  border-width:3px;
}
table{
  border-style:solid;
  padding:5px;
  
}
h1{
  
  text-align:center;
  font-style:bold;
}
td,tr{
   border-style:solid;
  border-width:3px;
  padding:5px;
  
  
}
input[type="text"]{
  
  border-style:solid;
  border-size:2px;
  border-color:black;
  position:absolute;
  left:39%;
  
}
#htmlsource{
  
  width:70%;
  height:70%;
  border-style:solid;
  border-size:3px;
}
.centerthings
{
  position:absolute;
  margin:21%;
  font-size:20px;
  padding: 2%;
  

}

.button {
  border-radius:5px;
  padding :5px;
 margin:40px;
    background-color: #FFA0B0; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}