* {
				margin: 0px;
				padding: 0px;
				/*background: linear-gradient(to bottom, #116466 0%, #2c3531 100%);*/
			}
a{
	text-decoration:none;
	text-color:black;
}
.hide{
	
	display:none;
}
			body {
				/*background: linear-gradient(to bottom, #88bdbc 0%, #254e58 100%);*/
				/*background: linear-gradient(#88bdbc, #254e58);*/
			/*	background: radial-gradient(#def2f1, #254e58);*/
				margin: 0;
				height: 100%;
				background-repeat: no-repeat;
				background-attachment: fixed;
			}

			.dropdown-btn {
				padding: 10px 8px 10px 10px;
				text-decoration: none;
				font-size: 18px;
				color: #def2f1;
				display: block;
				border: none;
				background: none;
				width: 100%;
				text-align: center;
				cursor: pointer;
				outline: none;
        
			}

			.sidenav {
				position: relative;
				padding: 4px;
				margin: auto;
				top: 80px;
				height: auto;
				width: 35%;/* 450px;*/
				/*! border-style:solid; */
				/*! border-width:1px; */
				background-color: #17252a;
				border-radius: 4px;
				color: #2C3599;
				 
			}

.editionbox{

	width:80%;
	margin-left:10%;
	
	
}
.editionname{
	
text-align:center;
 top:40%;
	
}
.editionbox{
	
	background-color:#d1651d;
	height:130px;
	width:80%;
 text-decoration:none;
	margin-top:15px;
	-webkit-box-shadow: 10px 10px 37px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 37px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 37px -1px rgba(0,0,0,0.75);
	
	
}
.editionbox:hover{
	
-webkit-box-shadow: 10px 10px 107px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 107px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 107px -1px rgba(0,0,0,0.75);
}
.titleheader{
	
	
	width:100%;
	padding:4px;
	 font-size:60px;
	font-style:bold;
	color:red;
}
			.sidenav-selected {
				padding: 4px;
				position: fixed;
				top: 40%;/*250px;*/
				height: auto;
				width: 23%;/*250px;*/
				margin-left: 10px;
				/*! border-style:solid; */
				/*! border-width:1px; */
				background-color: #17252a;
				border-radius: 4px;
        
			}

			a {
				padding: 6px 8px 6px 16px;
				text-decoration: none;
				font-size: 20px;
				color: #2196F3;
				display: block;
				border: none;
				background: none;
				width: 100%;
				text-align: left;
				cursor: pointer;
				outline: none;
			}

			a:hover .selectedcolor {
				color: #003b4f;
			}

			.dropdown-btn:hover {
				background-color: black;
			}

			.dropdown-container {
				display: none;
				background-color: #FFFF00;
				padding-left: 8px;
			}
.article-box{
    top: 35%;/*350px;*/
    position: absolute;
    margin-left: 28%;/*300px;*/
    margin-right:2%;

}
			.articles {
				position: absolute;
				left: 30%;/*300px;*/
				top: 40%;/*250px;*/
				height: auto;
				background: #6e6658;
				border-radius: 4px;
        margin-right:2%;
        
			}



			.entry {
				padding: 2px;
				margin-top: 4px;
				background: #4f4a41;
				font-family: Arial;
				color: #ffffff;
				font-size: 29px;
				padding: 22px 10px 12px 40px;
				text-decoration: none;
				border-color: #687864;
			}

			.entry:hover {
				background: #6e6658;
				text-decoration: none;
			}

			.title {
				font-size: 20px;
				color: black;
				background: none;
			}

			.title:hover {
				background: none;
			}

			.editiontitle {
				color: #def2f1;
				width: auto;
				height: 25px;
				padding: 6px;
				font-size: 20px;
				padding-bottom: 5px;
				font-family: 'Oxygen', sans-serif;
				position: relative;
				border-bottom-color: black;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				background-color: #284048;
				margin: 2px;
			}

			.header {
				height: 120px;
				width: 100%;
				background: none;
			}

			.header-csea {
				font-size: 12px;
				text-align: center;
				font-family: arial;
				position: relative;
				background: none;
				/*background-color:grey;*/
			}
.logo{

  float:left;
  
}
.titletext{

  font-size:80%;   /*new*/
  float:left;
}
			.header-title {
        color: rgb(255,255,255);
				font-size:60px;
				text-align: center;
				height: 120px;
				position: fixed;
				width:100%;
				font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
        z-index:1;
			
	 background-color:#17252a;
			}

			.author {
				display: block;
				font-size: 18px;
				font-style: bold;
				color: rgb(150, 150, 150);
				background: none;
			}

		
.title-box{
  
  font-size:24px;
 font-style:bold;
  
  
}
#topbar
{
  width:100%;
  top:0px;
 height:30%;
  
}
#threadslogo
{
  z-index:2;
  position:absolute;
  top: 8.25%;
  left:15%;
  
	width:30%;
}
#threadslogo-s{
	
  z-index:2;
  position:absolute;
  top: 3.25%;
  left:15%;
  
	width:120px;
	
}
#bottombar
{
  position:absolute;
  bottom:0px;
  height:15%;
  width:100%;
  z-index:-1;
}
#aboutbutton{
    position: absolute;
    max-width:9.3%;

  
  
}


#csedbutton
{
  position: absolute;
    max-width:8%;
}
.downloadtxt{
	font-size:24.5px;
display:block;	 
	
	
}
.readtxt{
	font-size:24.5px;
	margin-top:30%;
}
.currentedition-box{
  
  
  -webkit-box-shadow: 10px 10px 50px 7px rgba(0,0,0,0.36);
-moz-box-shadow: 10px 10px 50px 7px rgba(0,0,0,0.36);
box-shadow: 10px 10px 50px 7px rgba(0,0,0,0.36);
  height:45%;
  margin-top:14px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40e2e8+18,2c539e+62 */
background: rgb(64,226,232); /* Old browsers */
background: -moz-linear-gradient(right, rgba(64,226,232,1) 18%, rgba(44,83,158,1) 62%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, rgba(64,226,232,1) 18%,rgba(44,83,158,1) 62%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(64,226,232,1) 18%,rgba(44,83,158,1) 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40e2e8', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
}
.month-edition{
  
  font-size:72px;
	top:40%;
	position:absolute;
}
.year-edition{
  font-size:30px;
display:block;
	position:absolute;
	top:52%;
	margin-left:75px;
  
 
}
#copyright
{
  position: absolute;
  
  height:17px;
max-width:30%; 
}
.copyright-s{
	
	width:30%;
	
}
#cseabutton
{
  position: absolute;
   margin-left:7.5px;
  max-width:8%;
}
#topbar-s{
	 width:100%;
  top:0px;
 height:10%;
	
	
}
.footercontainer-small{
	 position: absolute;
   bottom:0px;
	height:13%;
	width:100%;
	overflow:hidden;
	
	
}
.currentedition-box div.col{
	
	height:100%;
}
.footercontainer{
	
	
	
  position: absolute;
   bottom:0px;
	height:10%;
	width:100%;
	
}
#csealogo
{
  position: absolute;
  height:50px;
  
}
.smallbuttonfooter{
	
	width:auto;
	max-height:5px;
	
	padding-left:30%;
	
	
	
}
#csedlogo
{
  position: absolute;
  height:50px;
	

}


#container {
  padding-left: 300px;
}

#content {
  padding: 20px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}